*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
}

:root {
    --gridColumns: 0;
    --cellWidth: 0;
}

header h1 {
    font-family: 'Shizuru', cursive;
    text-align: center;
    margin: 3rem 0;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.user-controls {
    width: 15rem;
    height: 15rem;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
}

.grid-range {
    width: 10rem;
}

.grid-size {
    color: royalblue;
    font-size: 20px;
}

button {
    width: 10rem;
    padding: 10px 16px;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

#generate {
    background-color: orange;
}

#clear {
    background-color: red;
}

.grid-container {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}

.grid-squares {
    width: 40rem;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(var(--gridColumns), var(--cellWidth));
    background-color: #fefefe;
}